<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="myString" value="C:\Users\admin\Downloads\drop-of-water-578897__480.jpg" />
        <add key="color" value="ff09371c" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>